* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
 width: 100%;
 text-align: center;
}

h1 {
 font-family: 'Roboto';
 font-size: 20px;
 color: #135;
 margin: 30px auto;
}

#slider {
 margin: 0 auto;
 display: block;
 overflow: hidden;
 width: 200px;
 height: 100px;
}

@media screen and (min-width: 400px) {
 #slider {
   width: 400px;
   height: 200px;
 }
}

@media screen and (min-width: 600px) {
 h1 {
   font-size: 30px;
 }
 
 #slider {
   width: 600px;
   height: 300px;
 }
}

img {
 width: 100%;
 height: auto;
}

#slider figure {
   position: relative;
   width: 500%;
   margin: 0;
   left: 0;
   animation: 20s slider infinite;
}

#slider figure .image {
 width: 20%;
 float: left;
}

/* Calculado para 5 items */
@keyframes slider {
   0% { left: 0; }
   20% { left: 0; }
   25% { left: -100%; }
   45% { left: -100%; }
   50% { left: -200%; }
   70% { left: -200%; }
   75% { left: -300%; }
   95% { left: -300%; }
   100% { left: -400%; }
}
